.flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-container {
    min-width: 50%;
}

.hero-container {
    margin: 5px;
}

.profile-pic {
    max-width: 130px;
    display: flex;
    align-items: center;
}