.flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-container {
    min-width: 50%;
}

.hero-container {
    margin: 5px;
}

.profile-pic {
    display: flex;
    align-items: center;
}

.profile-pic img {
    max-width: 130px;
}

.top-score {
    border: solid black 1px;
    padding: 0px 15px;
    margin: 5px 0px;
}

.comment {
    border: solid black 1px;
    padding: 0px 15px;
}

.comment h3 p {
    margin: 0px 5px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}