<!DOCTYPE html>
<html>
    <body>
        <label for="search">Search User:</label>
        <input id="search-input" type="text" placeholder="Enter username..." name="search">
        <button id="submit-search">Submit</button>
    </body>
</html>
