<!DOCTYPE html>
<html>
    <body>
        <label for="search">Search User:</label>
        <input id="search-input" type="text" placeholder="Enter username..." name="search">
        <button id="submit-search">Submit</button>

        {{#if hasUser}} 
            <h1>{{username}}</h1>
            <h2>Performance Points: {{pp}}</h2>
        {{/if}}

        <script src="js/dashboard.js"></script>
        <script src="js/authentication.js"></script>
    </body>
</html>
