<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <label for="search">Search User:</label>
        <input id="search-input" type="text" placeholder="Enter username..." name="search">
        <button id="submit-search">Submit</button>

        <script src="js/dashboard.js"></script>
        <script src="js/authentication.js"></script>
    </body>
</html>
