<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <a href="../dashboard">Back to dashboard</a>
        {{#each players}}
            <div class="border">
                <h2>{{this.userid}}</h2>
                <p>{{this.likes}} likes</p>
            </div>
        {{/each}}
    </body>
</html>
