<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="register-container">
            <label for="username">Username</label>
            <input id="username-input" type="text" placeholder="Enter username" name="username" required>

            <label for="password">Password</label>
            <input id="password-input" type="password" placeholder="Enter password" name="password" required>

            <button id="submit-register">Register</button>

            <p>Already have an account? <a href="../dashboard">Login</a></p>

            <script src="js/register-account.js"></script>
        </div>
    </body>
</html>
