.container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.all-container {
    display: flex;
    flex-direction: row;
}

.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
    gap: 10px;
}

.profile-pic img {
    max-width: 130px;
}

.top-score {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
    align-items: center;
}

h1 {
    font-size: 18px;
}

.container p {
    text-align: center;
}